# This pulls in all the libraries needed to run Selenium tests
# on Mozilla WebQA projects

PyYAML==3.10
UnittestZero
certifi==0.0.8
chardet==1.0.1
execnet==1.0.9
py==1.4.7
pytest==2.2.3
pytest-mozwebqa==0.10
pytest-xdist==1.8
requests==0.11.2